<div class="main">
  <!--Main welcoming-->
  <div class=" uk-text-center uk-container uk-container-expand" uk-grid>
    <div class="uk-align-center">
      <h1 class="uk-heading-line"><span>Welcome</span></h1>
      <h3 class="uk-heading-line"><span>Here you can find more about Omid Chehreh Gosha:)</span></h3>
    </div>

  </div>
  <!--3 Card part-->
  <div class="uk-grid-match uk-child-width-expand@m uk-text-center " uk-grid>
    <a routerLink="/projects" class="uk-animation-toggle">
      <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-animation-slide-bottom-small"><div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-expand">
            <h3 class="uk-card-title uk-margin-remove-bottom">Projects</h3>

          </div>
        </div>
      </div>
        <div class="uk-card-body">
          <p>Description and details of the projects I've done during my academic and professional life</p>
        </div>
        <div class="uk-card-footer">
          <p class="uk-text-meta uk-margin-remove-top">Updated: Sep.2019</p>
        </div></div>
    </a>
    <a routerLink="/resume" class="uk-animation-toggle">
      <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-animation-slide-bottom-small"><div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-expand">
            <h3 class="uk-card-title uk-margin-remove-bottom">Résumé</h3>

          </div>
        </div>
      </div>
        <div class="uk-card-body">
          <p>Comprehensive and downloadable version of my curriculum vitae</p>
        </div>
        <div class="uk-card-footer">
          <p class="uk-text-meta uk-margin-remove-top">Updated: Sep. 2019</p>
        </div></div>
    </a>
    <a routerLink="/about" class="uk-animation-toggle">
      <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-animation-slide-bottom-small"><div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-expand">
            <h3 class="uk-card-title uk-margin-remove-bottom">Résumé</h3>

          </div>
        </div>
      </div>
        <div class="uk-card-body">
          <p>Comprehensive and downloadable version of my curriculum vitae</p>
        </div>
        <div class="uk-card-footer">
          <p class="uk-text-meta uk-margin-remove-top">Updated: Sep. 2019</p>
        </div></div>
    </a>


  </div>
</div>
